@font-face {
  font-family: 'Mulish-Regular';
  src: url('Mulish-Regular.ttf') format('ttf');
  /* Add additional font formats if necessary */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish-Bold';
  src: url('Mulish-Bold.ttf') format('ttf');
  /* Add additional font formats if necessary */
  font-weight: bold;
  font-style: normal;
}

/* Font sizes */
body {font-family: 'Mulish-Regular', sans-serif;}
  p, li {
    font-size: 14px;
    letter-spacing: 0.3px;
}

.md-typeset h1 {
    color: #09003d;
    font-size: 1.2rem;
    line-height: 1.3;
    letter-spacing: 0.3px;
    font-weight:700;
}

.md-typeset h2 {
    font-size: 1rem;
    color: #09003d;
    line-height: 1.4;
    letter-spacing: 0.3px;
    font-weight:700;
}

.md-typeset h3 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.3px;
    line-height: 1.5;
    margin: 1.6em 0 0.8em;
    color: #2b2bb5!important;
}

/* Images 
.md-typeset img, .md-typeset svg {
    height: auto;
    max-width: 50%;
}

.md-typeset .twemoji svg {
    fill: currentcolor;
    max-height: 100%;
    width: 100%;
}
*/

.md-typeset img {
    height: auto;
    max-width: 50%;
}
/* Buttons */

.md-typeset .md-button--primary {
    background-color: #2b2bb5;
    border-radius: 6px;
    border-color: #2b2bb5;
    color: var(--md-primary-bg-color);
}
.md-typeset .md-button {
    border: none;
    font-weight: 700;
    padding: .5em 1em;
}

.md-typeset .twemoji svg {
    fill: currentcolor;
    max-height: 100%;
    width: 100%;
}

a.md-button.md-button--primary {
    font-size: 13px;
    letter-spacing: 0.5px;
}
  
/* Header and footer */
.md-footer {display:none;}
.md-header, .md-tabs {background-color: #09003d;}
.md-header__button.md-logo img, .md-header__button.md-logo svg {height: 1.8rem;}
.md-header__topic {display:none;}
.md-tabs__link {font-size:16px;font-weight: 700;}

/* Navigation */
.md-nav__item--section>.md-nav>.md-nav__list>.md-nav__item {padding-left: 10px!important;}
.md-nav__list {padding-left: 0px!important;}
.md-nav__link {font-size: 16px;color: #09003D;}
.md-ellipsis {font-size: 14px;color: #09003D;}
div.md-sidebar.md-sidebar--primary > div {border-right: 1.8px solid #2b2bb551;}
.md-nav {padding-left: 10px;}

/* Search */
.md-search__input::placeholder, .md-search__icon .md-icon{color: #000;}

@media screen and (min-width: 60em){
.md-search__input+.md-search__icon {
    color: #000;
}
}

.md-search__input{
    background-color: #fff;
}

