.md-header {
    background-color: #09003d;
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
    height: 1.8rem;
}

.md-search__input::placeholder, .md-search__icon .md-icon{
    color: #000;
}



@media screen and (min-width: 60em){
.md-search__input+.md-search__icon {
    color: #000;
}
}


.md-search__input{
    background-color: #fff;
}

div.md-sidebar.md-sidebar--primary > div {
    border-right: 1.8px solid #2b2bb551;
}

.md-nav__title {
  display:none;  
}

.md-nav__link {
    font-size: 16px;
    color: #09003D;
}

.md-ellipsis {
font-size: 14px;
color: #09003D;
}

..md-nav__icon {
    color: black;
}

.md-nav {
    color: black;
    padding-left: 10px;
}

.md-nav--primary .md-nav__list {
    padding-left:0px!important;
}
