p {
    font-size: 16px;
}

.md-footer {
    display:none;
}
.md-header {
    background-color: #09003d;
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
    height: 1.8rem;
}

.md-search__input::placeholder, .md-search__icon .md-icon{
    color: #000;
}

@media screen and (min-width: 60em){
.md-search__input+.md-search__icon {
    color: #000;
}
}

.md-search__input{
    background-color: #fff;
}

div.md-sidebar.md-sidebar--primary > div {
    border-right: 1.8px solid #2b2bb551;
}

.md-nav__title {
  display:none;  
}

.md-nav__link {
    font-size: 16px;
    color: #09003D;
}

.md-ellipsis {
font-size: 14px;
color: #09003D;
}

..md-nav__icon {
    color: black;
}

.md-nav {
    color: black;
    padding-left: 10px;
}

.md-nav--primary .md-nav__list {
    padding-left:0px!important;
}


.md-typeset h1 {
    color: #09003d;
    font-size: 1.2rem;
    line-height: 1.3;
    font-weight:700;
}

.md-typeset h2 {
    font-size: 1rem;
    color: #09003d;
    line-height: 1.4;    
    font-weight:700;
}

.md-typeset h3 {
    font-size: 1em;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 1.5;
    margin: 1.6em 0 0.8em;
    color: #6535F5;
}

.md-typeset img, .md-typeset svg, .md-typeset video {
    height: auto;
    max-width: 50%;
}
